// Media query des tablettes

@include laptop {
    // HEADER
    header {

        .burger {
            display: block;
        }
        .logo {
            span {
                color: $white !important;
            }
        }
    }

    // FOOTER
    footer {
        height: $windowH;
        
        .bgimg-2 {
            width: 50%;
            top: 0;
        }
        
        nav {
            padding-bottom: $paddingT;
            display: $flex;
            align-items: $center;
            justify-content: $around;
            background: $gradblueF;
            width: $full*0.8;
            height: $full*0.55 !important;
            
            #foot-icon {
                height: 50%;

                .txt {
                    height: fit-content;
                    padding-bottom: $paddingT;

                    span {
                        display: block;
                        text-align: $center;
                    }
                }
            }

            ul:not(#foot-icon) {
                width: $full*0.2;
                align-items: $center;

            }

        }
    }

    // PAGE CONTAINER
    main {
        padding-bottom: 100px;

        // FIRST SECTION
        .firstSec {
            height: $windowH;
            display: $flex;

            .icons {
                top: 5%;
                left: 2.5rem;
            }

            .content1 {
                width: $full;
                height: $full;
                padding-top: $paddingT;
                flex-direction: column-reverse;
                flex-wrap: nowrap;
                align-items: $center;

                article {
                    height: $full/2;
                    width: $full;
                    text-align: $center;
                    padding: 20px 0 0 0;
                   
                    h1 {
                        color: $grey;
                        font-size: 2rem;
                        line-height: 50px;
                        &::after{
                            color: $grey;
                            font-size: 3rem;
                        }
                    }
                   
                    p {
                        color: $grey;
                        margin-bottom: $marginT/3;
                    }
                }

                aside {
                    z-index: -1;

                    picture {
                        display: $flex;
                        justify-content: $center;
                        img {
                            width: $full*0.7;
                        }
                    }
                }

                #mouse {
                    display: $no;
                }
            }
        }

        // SECOND SECTION
        .secondSec {
            height: $windowH;

            .content2 {
                
                aside {
                    opacity: 0.4;
                    z-index: -1;
                    width: $full*0.4;
                }

                article {
                    width: $full*0.7;
                    padding: $paddingT;
                    margin: 0;
                    text-align: center;

                    p {
                        color: $black;
                        margin: auto;
                        text-align: justify;
                    }
                }
            }
        }

         // THIRD SECTION
         .thirdSec {
            height: $windowH*3.6;
            background-repeat: repeat;
            background-size: contain;

            h2 {
                padding: $paddingLi;
            }

            .cardlist {
                padding: 0;
                flex-direction: $col;
                align-items: $center;

                .card {
                    width: 50%;
                    height: 400px;
                    text-align: $center;
                    margin: 0;
                    margin-top: $marginT;
                }
            }
        }

        // FOURTH SECTION
        .fourthSec {
            height: $windowH*1.9;
            padding-top: $paddingT;
            .cardlist {
                flex-direction: $col;
                align-items: $center;
                .card {
                    margin-top: $marginT;
                }
            }
        }

        // FIFTH SECTION
        .fifthSec {
            text-align: $center;
            padding: $paddingT*2;

            h2 {
                padding-top: $paddingT;
            }

            form {
                display: $flex;
                flex-direction: $col;

                input[type=text] {
                    width: $full*0.8;
                    margin-bottom: $marginT;
                }
            }
        }
    }
}